# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite3-journal
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# If you use dotenv to manage secrets
.env
.env.*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# VS Code
.vscode/

# PyCharm
.idea/

# pipenv
Pipfile.lock

# venvs
venv/
env/
ENV/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# Sphinx
docs/_build/

# System files
.DS_Store
Thumbs.db
